<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In Game</title>

    <link rel="stylesheet" href="../assets/CSS/page2.css">
</head>
<body>
    <div class="previous_question">
        이전 질문
        <br>
            <div class="box">
                <div class="text">
                    <!--이전 질문 db 연동-->
                    트위치에서 방송을 하고 있나요?
                </div>
            </div>
        </br>
    </div>

    <div class="answer">
        <!--해당 질문 정답(y/n) db 연동-->
        응답
        <br>
        <div class="yes">
            네
        </div>
        <div class="no">
            아니오
        </div>
        </br>
    </div>

    <div class="hearts" style="text-align:right;">
        <img src="https://static.vecteezy.com/system/resources/previews/000/547/596/non_2x/hearts-icons-vectors-illustrations.jpg" alt="heart1">


    </div>

    <div style="text-align:center;" >
        <!--최종정답 db 연동-->
        <input placeholder="정답을 입력하세요." type="text" id="answer_input">
    </div>

    <div class="question">
        <!--질문db 연동(how?)-->
        <div class="circle">   
            질문1
        </div>
        <div class="circle">   
            질문2
        </div>
    </div>

    <div class="question">
        <!--질문db 연동(how?)-->
        <div class="circle">   
            질문3
        </div>
        <div class="circle">   
            질문4
        </div>
    </div>


</body>
</html>