<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Over</title>

    <link rel="stylesheet" th:href="@{/CSS/page3.css}"/>

</head>
<body>
    <div class= "container">
        <!-- 시작 버튼 clcik > 서버에 저장된 이름DB 연동 > js로-->
        <p id="displayArea"></p>

        <br>
        <!-- 서버에 저장된 정답DB 연동 -->
        오늘의 정답은
        '
        <script>
            <!-- DB연동 필요, 임시(정준하)-->
            var name_today = "정준하"
            document.write(name_today)
        </script> '였습니다.
        </br>

        내일도 도전해 주세요!

        <br>
            <!-- page4 링크 연동 -->
        <form id="form" autocomplete="off" method="get" th:action="@{/halloffame}">
            <div id="name-wrapper" style="padding-top: 60px; ">
                <input type="submit" value="명예의전당" id="name_button" style="cursor: pointer;padding: 17px 40px;font-size: 40px" >
            </div>
        </form>
        </br>

        <!-- 정답 맞출때랑 틀릴때 다른 text 출력 .. 어케하노.. -->
        <script>
        //이름 출력 함수
        function displayName() {
            const name = document.getElementById("name").value;
            const displayArea = document.getElementById("displayArea");
            displayArea.textContent = name + "님은 정답을 맞추지 못하였습니다!";
        }
        </script>
    </div>

</body>
</html>