<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>명예의전당</title>
    <link rel="stylesheet" th:href="@{/CSS/page4.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
</head>


<body>
    <nav>
        <div class="honor">
            <p>명예의 전당</p>
        </div>
    </nav>

    <header class="hd">
        <div class="Rank">
            <ul class="Rank_">
                <li>1st 어딘가</li>
                <li>2nd 들어본듯</li>
                <li>3rd 한이 메엘~로디</li>
                <li>4th 떠올라 </li>
                <li>5th 작은 기억들이</li>
                <li>6th my memories</li>
                <li>7th 날담은 소파는커</li>
                <li>8th is too much</li>
                <li>9th too~~ much</li>
                <li>10th 기억할 수록 되어만가 loseer</li>    
            </ul>
            </div>
        </div>
    </header>
    

</body>
</html>