<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In Game</title>

    <link rel="stylesheet" th:href="@{/css/page2.css}"/>
</head>
<body>

<!--    <div id="share"></div>-->
<!--    <script>-->
<!--        var hp = 4;-->
<!--    </script>-->

    <div class="container">
    <div class="previous_question">
        이전 질문
        <br>
            <div class="box">
                <div class="text" id="previousQuestionBox">
                </div>
            </div>
        </br>
    </div>
<!--&lt;!&ndash;        하트의 갯수를 4개로 한정함. 변수로 설정하는 것이 과제&ndash;&gt;-->
<!--        <div class="hearts" th:class="image-container">-->
<!--            <span th:each="i : ${#numbers.sequence(1, 4)}">-->
<!--                <img th:src="@{/images/heart.jpg}" alt="이미지 설명" th:height="25" th:width="25">-->
<!--            </span>-->
<!--        </div>-->
        <p> &nbsp;</p>
    <div class="answer">
        <!--해당 질문 정답(y/n) db 연동-->
<!--        <div style="float: right">응답</div>-->
        <div class="yesno">
        <br><br><br>
            <div class="yes" id="previousQuestionBoxYesOrNo">

            </div>
        </div>
    </div>
    <script>

    </script>
        <div style="text-align:center;">
            <form id="form" autocomplete="off" method="get" th:action="@{/gameover}">
                <div id="name-wrapper" style="padding-top: 20px;">
                    <input type="text" name="dummy" style="position: absolute; width: 0;height: 0;opacity: 0;">
                    <input id="wordInput" oninvalid="this.setCustomValidity('공백은 입력할 수 없습니다')" required oninput="this.setCustomValidity('')" placeholder="정답을 입력하세요" type="text" style="width: 500px;height: 50px;text-align: center;">
                    <input id="name_input" type="submit" value="입력" style="cursor: pointer;padding: 17px 40px;" maxlength="15">
                </div>
            </form>
        </div>

        <script>
            document.getElementById("form").addEventListener("submit", function (event) {
                event.preventDefault();
                var inputValue = document.getElementById("wordInput").value;

                // 정답 부분을 데이터베이스에서 뺴오기.
                if (inputValue === "정준하") {
                    // Redirect to page3
                    document.getElementById("form").action = "/success";
                } else {
                    // Redirect to page5 (default)
                    document.getElementById("form").action = "/gameover";
                }

                // Submit the form after changing the action
                document.getElementById("form").submit();
            });
        </script>
<!--    <div class="question">-->
<!--        <tr th:each="question : ${questions}" onclick="handleButtonClick(this)">-->
<!--            <button type="button" th:class="circle">-->
<!--                <td th:text="${question.question}" ></td>-->
<!--            </button>-->
<!--        </tr>-->
<!--    </div>-->
        <div class="question">
            <table>
                <tr th:each="question : ${questions}" onclick="handleButtonClick(this)">
                    <td>
                        <button type="button" class="circle">
                            <span th:text="${question.question}" ></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <script>
            let selectedQuestion = ""; // 선택된 질문을 저장할 변수

            function handleButtonClick(element) {
                // 클릭된 버튼의 텍스트 값을 변수에 저장
                selectedQuestion = element.querySelector('span').innerText;

                updatePreviousQuestion(selectedQuestion);
                updatePreviousQustionYesOrNo(selectedQuestion);

            }

            function updatePreviousQuestion(questionText) {
                // 이전 질문 상자의 내용을 업데이트
                const previousQuestionBox = document.getElementById('previousQuestionBox');
                previousQuestionBox.innerHTML = questionText;
            }

            function updatePreviousQustionYesOrNo(questionText) {
                const previousQuestionBox = document.getElementById('previousQuestionBoxYesOrNo');
                let text = "네"

                // if(데이터 베이스 연결, 정답 테이블에 질문 넣어서 N이 오면)
                //     text = "아니오"

                previousQuestionBox.innerHTML = text;
            }
        </script>
</div>
</body>
</html>